body{
    display: grid;
    grid-template-columns: 1fr 200px 100px 1fr;
    margin: 20px;
    height: 90vh;
    align-self: center;
    background-image: url(../img/white-triangle-369b8d2d.jpg);
    background-size: cover;
}
body > .tekstas {
    display: inline-block;
    grid-column: 1/5;
    font-size: 25px;
    align-self: center;
    border: 2px solid;
    width: 80%;
    margin: 0 10%;
    padding: 5px;
}
.Rezultatai {
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 2px solid;
    padding: 10px;
}
    .Rezultatai > .container {
        grid-column: 1/3;
        text-align: center;
        font-size: 50px;
    }
    .Rezultatai > .results {
        font-size: 26px;
        grid-column: 1/3;
        display: grid;
        margin: 10px 0;
        grid-template-columns: 1fr 2fr;
        border: 2px solid
    }
        .Rezultatai > .results > .uzduotis {
            display: inline-block;
            grid-column: 1/3;
            align-self: center;
            margin-left: 5px;
        }
        .Rezultatai > .results  > .kiek {
            display: inline-block;
            margin: 0 20px;
            grid-column: 3/4;
            align-self: center;
        }